<div class="main">
    <div id="myBoard" style="width: 400px;"></div>
    <div class="userInput" id="userInput">
        <label for="gameInput">Import option: </label>
        <select name="gameInput" id="gameInput" (change)="handleUserInput()">
            <option value="pgn" selected>PGN</option>
            <option value="chess-com">Chess.com</option>
        </select>
        <div class="dynamic" id="dynamic"></div>
    </div>
    <button type="button" id="btnAnalyse" (click)="analyseGame()" [disabled]="isDisabled">Analyse the game!</button>
</div>
